<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./resume.html">Resume</a>

        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Product Manager / Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>
        <div class="aboutme-page">
            <div class="aboutme-main-container">

                <h1>About me</h1>
                <p>
                    Experienced engineer with knowledge in both software and hardware. Resourceful, with a variety of related work experience including product management and production. Known for creative solutions and for delivering top quality products on time. 
                </p>
                <p>
                    I always enjoyed technology and cars, since a kid. Lately I had a great time building and restoring classic cars, sometimes with a modern twist in them, trying to keep the classic design looks and the modern parts hidden inside to improve the use of it.
                </p>
                <p>
                    Who does not like when the car can drive far away without breaking down, or having the speedometer match the actual speed of the car? Imagine having air conditioning on a classic car in the Californian heat? Classic cars sometimes are a piece of art that stay stationary because they are not comfortable to drive, but with customization and modernization you can connect both modern comfort to the classic design that is so desired by several people!
                </p>
                <p>
                    From childhood in the 90's self taught about computers and mechanics, designed very basic concepts to more complex concepts, modified cars and equipment for more performance and efficiency. 
                </p>
                <p>
                    Learned that when a project starts the work begins, there is a lot of planning and research to execution and then the delivery. The process of managing a project is accomplished when product is delivered with success, there is several hiccups and twisted roads but, on the end, when the product is finalized, a great sense of accomplishment is achieved. 
                </p>
                <p>
                    I always try to set a Goal and put effort and commitment to achieve it, hard to do, easy to say, resources and time must be allocated properly and compromise is always part of the game, the earlier you organize everything, higher the chance of success.
                </p>
                <p> In my opinion communication is key in a group, sometimes a person is so good at something and nobody knows. If you do not ask, you rarely have an answer! A team where everyone truly feels comfortable to talk and work, will deliver better.
                </p>
                <p>
                    That's a little bit of myself...
                </p>
            </div>
        </div>









    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>