<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left centered">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./aboutme.html">About me</a>
            <a href="./projects.html">Portfolio</a>
        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Product Manager / Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>
        <div class="project-header">
            <h2>Charger 1973</h2>
        </div>
        <div class="double-images">
            <a href="../assets/images/charger2.jpg"><img src="../assets/images/charger2.jpg"
                    alt="Screenshot of Classic Whipz page" /></a>
            <a href="../assets/images/charger3.jpg"><img src="../assets/images/charger3.jpg"
                    alt="Screenshot of Classic Whipz page" /></a>
        </div>
        <div class="double-images">
            <a href="../assets/images/charger1.JPG"><img src="../assets/images/charger1.JPG"
                    alt="Screenshot of Classic Whipz page" /></a>
            <a href="../assets/images/charger1.JPG">
                <p>This project started, first with a market research of the buyer's market, then the search for a base
                    car that could originate the product desired. The base vehicle was purchased from a
                    person that tried to restore it for 10 years, he couldn't organize and execute the project himself
                    and placed the vehicle for sale.</p>
                <p>A incomplete car with several components rusted, missing and not operative was acquired for a very
                    low cost but with a very solid structure.</p>
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger4.JPG">
                <p>After a planned teardown restoration, all main body parts were treated for rust and primed with
                    special materials to prevent rust in the future, multiple mechanical components were replaced for
                    more modern and customized components to ensure better reliability and driveability.
                </p>
            </a>
            <a href="../assets/images/charger4.JPG"><img src="../assets/images/charger4.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>

        </div>

        <div class="double-images">
            <a href="../assets/images/charger5.JPG"><img src="../assets/images/charger5.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
            <a href="../assets/images/charger5.JPG">
                <p> Electronic components like wiring harness, instruments, power actuators etc were installed to
                    provide better comfort and accurate information to the users, windows and locks were electric, air
                    conditioning was installed with multiple sensors in the cabin to ensure even heat or cooling
                    distribution.</p>
                <p>
                    Engine management was modified from a old mechanic system with almost no electronics to a complete
                    electronic engine management system from fuel supply to spark.
                </p>

            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger6.JPG">
                <p>This project had intensive parts and materials management, from paints, sealers, hardware,
                    electronics, new replacement parts etc.
                </p>
                <p>
                    Multiple sublet services were required as example body panels acid dipping and media blasting to
                    powder coating and upholstery work.
                </p>
            </a>
            <a href="../assets/images/charger6.JPG"><img src="../assets/images/charger6.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger7.jpg"><img src="../assets/images/charger7.jpg"
                    alt="Screenshot of Classic Whipz page" />
            </a>
            <a href="../assets/images/charger7.jpg">
                <p> Labour for paint and assembly was done by in house employees what provided much better quality and
                    time control.
                </p>


            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger73.jpg">
                <p>
                    Project was finished 2 months ahead of the Mecum auction in Pebble Beach California.
                </p>
                <p>
                    Vehicle sold for higher than expected price with multiple bidders. Research was a success and now we
                    collected the rewards, on a time of unpredictable events, during Covid, this was a great result that
                    promoted the business and improved revenue.
                </p>
            </a>
            <a href="../assets/images/charger73.jpg"><img src="../assets/images/charger73.jpg"
                    alt="Screenshot of Classic Whipz page" />
            </a>
        </div>





    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>