<!DOCTYPE html>
<html>

<head>
  <title>Cezar's Portfolio</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

  <header>
    <!-- Navigation buttons sticky all pages -->
    <nav class="header-bar-left">
      <a href="../index.html">Home</a>
      <a href="../index.html#work">Work</a>
      <a href="./resume.html">Resume</a>
      <a href="./aboutme.html">About me</a>
      
    </nav>
    <div class="header-bar-right">
      <h1><a href="../index.html">Cezar Amaral</a></h1>
      <p>Product Manager / Software Developer</p>
    </div>
  </header>
  <!-- Body -->
  <main>
    <section class="contact">
      <div>
        <h1>Contact</h1>
        <h2>Phone: 647-627-0815</h2>
        <h2><a class="hover" href="mailto:cezardenis20@gmail.com">Email: cezardenis20@gmail.com</a></h2>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
            href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a></h3>
        <h2>Thank you for visiting!</h2>
      </div>


    </section>
  </main>


</body>

</html>