<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left centered">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./aboutme.html">About me</a>
            
        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Software Developer / Product Manager</p>
        </div>

    </header>
    <!-- Body -->
    <main>


        <div class="project-header">
            <h2>MG MGB 1963</h2>
        </div>
        <div class="double-images">
            <a href="../assets/images/MGB63.jpg"><img src="../assets/images/MGB63.jpg" alt="Mustang 1966 Grey" /></a>
            <a href="../assets/images/mgb2.jpg"><img src="../assets/images/mgb2.jpg" alt="Mustang 1966" /></a>
        </div>
        <div class="double-images">
            <a href="../assets/images/mgb1.jpg"><img src="../assets/images/mgb1.jpg" alt="mgb in poor condition" /></a>
            <a href="../assets/images/mgb1.jpg">
                <p>After some market research was determined that a first generation MG MGB was highly desireable in the
                    collector's car scene.</p>
                <p>This car was found from a gentleman who really liked MGB's, having couple of MGB's, the owner decided
                    to sell this one after trying to restore the car himself and after seeing how much work was needed
                    to be done, and deciding that due to the work being overwhelming and over his skills, he should keep
                    the car that's ready to enjoy and sell this project including vehicle plus lots of new replacement
                    parts.
                </p>
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/mgb1.jpg">
                <p>
                    With the acquisition of this new project, was decided that paint and details should be as close as
                    possible to the original looks and design, maybe with very few reliability improvements that should
                    be as well hidden as possible, as this would be a concourse restoration for customers that would
                    drive to events to show case his classic car and compete against other show cars.
                </p>
                <p>
                    Vehicle looked in extremely poor condition with heavy rust on the floors, which to untrained eyes,
                    looked extremely expensive and labor intensive to have it repaired, that brought base cost very low,
                    due to great replacement parts availabilty for this specific model, repairs were done on a very good
                    time frame at a low cost.
                </p>
            </a>
            <a href="../assets/images/mgb3.jpg"><img src="../assets/images/mgb3.jpg" alt="MGB with rust on floors" />
            </a>

        </div>

        <div class="double-images">
            <a href="../assets/images/mgb5.jpg"><img src="../assets/images/mgb5.jpg"
                    alt="mgb floors replaced" />
            </a>
            <a href="../assets/images/mgb5.jpg">
                <p>
                    The car was completely disassembled and all parts were cleaned, painted, repaired or replaced. All
                    rusted panels replaced and treated to prevent future corrosion.
                </p>
                <p>
                    Stock condition and color was targeted, again looking forward to have a highly desired classic for
                    the available customers.
                </p>

            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/mgb6.jpg">
                <p>This project had intensive parts and materials management, sublet work, and in house labor to
                    accomplish the result product.
                </p>
                <p>
                    Project was managed always with the ultimate goal of selling the vehicle at a profit, and with a
                    good return on investment. Sometimes personal opinions had to be set aside to achieve the desired
                    result.
                </p>
            </a>
            <a href="../assets/images/mgb6.jpg"><img src="../assets/images/mgb6.jpg" alt="mgb parts painted" />
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/mgb7.jpg"><img src="../assets/images/mgb7.jpg"
                    alt="mgb primed" />
            </a>
            <a href="../assets/images/mgb7.jpg">
                <p> Labour for paint and assembly was done by in house employees what provided much better quality and
                    time control.
                </p>


            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/mgb8.jpg">
                <p>
                    Project was finished and sold within 1 week for full asking price, even before it could go for auction. Customer was so happy that afterwards asked for more cars from us. Buyer did win prizes with this car, as was planned at project conception.
                </p>
                <p>
                    This project was a great success, and was a great learning experience for the team, which always learns with failures and sucesses.
                </p>
            </a>
            <a href="../assets/images/mgb8.jpg"><img src="../assets/images/mgb8.jpg"
                    alt="blue mgb" />
            </a>
        </div>





    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>