<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left centered">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./aboutme.html">About me</a>

        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Product Manager / Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>


        <div class="project-header">
            <h2>Mustang 1966</h2>
        </div>
        <div class="double-images">
            <a href="../assets/images/must1.JPG"><img src="../assets/images/must1.JPG" alt="Mustang 1966 Grey" /></a>
            <a href="../assets/images/must2.JPG"><img src="../assets/images/must2.JPG" alt="Mustang 1966" /></a>
        </div>
        <div class="double-images">
            <a href="../assets/images/must3.JPG"><img src="../assets/images/must3.JPG"
                    alt="Screenshot of Classic Whipz page" /></a>
            <a href="../assets/images/must3.JPG">
                <p>After some market research was determined that a Fastback 1st generation mustang was a very good
                    product to invest, as prices climbing year after year and availability of cars was scarce.</p>
                <p>This car was acquired after heavy negotiation which ended with a package of vehicles being purchased
                    from the same collector, who was more focused in restoring european vehicles instead of classic
                    muscle cars. The other vehicles purchased were sold as is with quick but small profit,
                    as they were deemed not as good product to invest as this mustang.
                </p>
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/must4.JPG">
                <p>
                    Short restoration, with very few custom design implementations like custom paint job, few engine
                    modifications, big wheels and brakes and stock interior restoration.
                </p>
                Making this vehicle a reality to fulfill customer's desires and dreams was a priority.
                <p>

                </p>
            </a>
            <a href="../assets/images/must4.JPG"><img src="../assets/images/must4.JPG"
                    alt="Mustang 1966 under restoration" />
            </a>

        </div>

        <div class="double-images">
            <a href="../assets/images/must7.JPG"><img src="../assets/images/must7.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
            <a href="../assets/images/must7.JPG">
                <p>
                    The car was completely disassembled and all parts were cleaned, painted, repaired or replaced.
                </p>
                <p>
                    Interior was completely refurbished with new upholstery, new carpet, new headliner, new door panels
                    etc.
                </p>

            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/must5.JPG">
                <p>This project had intensive parts and materials management, sublet work, and in house labor to
                    accomplish the desired result.
                </p>
                <p>
                    Project was managed always with the ultimate goal of selling the vehicle at a profit, and with a
                    good return on investment. Sometimes personal opinions had to be set aside to achieve the desired
                    result.
                </p>
            </a>
            <a href="../assets/images/must5.JPG"><img src="../assets/images/must5.JPG" alt="Mustang being painted" />
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/must8.JPG"><img src="../assets/images/must8.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
            <a href="../assets/images/must8.JPG">
                <p> Labour for paint and assembly was done by in house employees what provided much better quality and
                    time control.
                </p>


            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/must9.JPG">
                <p>
                    Project was finished ahead of delivery time, the Mecum auction in Portland.
                </p>
                <p>
                    Vehicle sold for higher than expected price with multiple bidders. Research was a success and now we
                    collected the rewards. This was a great result for the company, bringing revenue and promoting the
                    business in the Classic Car community getting more niche customers, whom are willing to pay more for
                    a better product with higher core value.
                </p>
            </a>
            <a href="../assets/images/must9.JPG"><img src="../assets/images/must9.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
        </div>





    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>