<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./aboutme.html">About me</a>

        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Product Manager / Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>

        <section class="resume">

            <h1>Cezar's Resume</h1>
            <button class="button-resume">
                <a class="" href=../assets/files/resume.pdf download="resume.pdf">
                    Download Resume
                </a>
            </button>
            <div class="resume-main-container">


                <div class="resume-right-container">
                    <div class="resume-header">
                        <h2>Work Experience</h2>
                    </div>
                    <span>Karrotz Inc. (Toronto, Ontario) 2022 - 2023</span>
                    <p>Product & Project Manager
                        <li> Created and designed marketing campaigns (social media) which resulted in 22% growth
                            within the first month</li>
                        <li> Built and deployed websites using MERN, MVC, API’s, OOP and Figma</li>
                        <li> Lead both backend and front end, as well as tested, iterated, and debugged software</li>
                        <li> Designed applications for business work flow and customer facing access, using Node.JS,
                            React, MongoDB and CSS</li>

                    </p>

                    <span>Self-employed (Canada / USA) 2005-2022</span>
                    <p>Product Manager
                        <li> Created and designed websites using HTML, CSS, JavaScript, Node.js, MERN, MVC, OOP, NoSQL,
                            MySQL, etc.</li>
                        <li> Prototyped and developed electronic hardware for everyday functional use with
                            microcontrollers, sensors, and actuators, implemented with Arduino IDE, Python, C++</li>
                        <li> Managed the entire pipeline of restoration and automotive products, from project planning,
                            production, marketing and continued maintenance. </li>

                    </p>

                    <span>SCCC Inc. (San Mateo, California) 2013-2015</span>
                    <p>Manager and Partner
                        <li> Created and headed the classic car restoration line, which increased business revenue
                            within the first year, and continued with exponential growth in the second year.</li>
                        <li> Managed entire production of classic car restoration, from acquiring, to directing
                            restoration and selling, while also overseeing projects for existing customers. </li>
                        <li> Managed internal employees and directed outsource work.</li>
                        <li> Maintained relationships with customers and 3rd party payees. </li>
                        <li> Conducted research for market analysis and built business strategies and marketing material
                            to accommodate changing needs. </li>
                        <li> Produced and delivered products to the highest level, resulting in selling our own classic
                            cars locally and at auctions all over the USA.</li>

                    </p>

                    <span>EnviroCar and DACCI (Toronto, Ontario) 2011-2013</span>
                    <p>
                        Project Manager and Estimator
                        <li> Managed employees’ daily tasks, performance, as well as career growth.</li>
                        <li> Worked with customers and insurance companies to provide the best service and products on
                            time and within the budget set by the insurance companies. </li>
                        <li> Maintained schedule and accounting for parts and outsource orders.</li>

                    </p>

                    <span>DFC (Toronto, Ontario) 2009-2011</span>
                    <p>
                        Car washer to Shop Foreman
                        <li> Began as a car washer, promoted multiple times for great customer service, commitment, and
                            finding new efficiencies in the production. </li>

                    </p>



                    <div class="resume-header">
                        <h2>Education</h2>
                    </div>
                    <p>
                        <li> Full Stack Web Development bootcamp at University of Toronto.</li>
                        <li> Software development, Robotics and Electronics at Techshop in San Francisco, California.</li>
                        <li> Product management, marketing and customer service courses from: Porsche, Nissan, Subaru,
                            and Chrysler.</li>
                        <li> Online computer science courses from Stanford, Harvard, and College of San Mateo.</li>
                        <li> Law School at University Pontifical Catholic of Campinas in Brazil.</li>
                        <li> Computer science and I.T. for my own family software company in the 90’s (Quick Basic).</li>

                    </p>

                    <div class="resume-header">
                        <h2>Skills</h2>
                    </div>
                    <p>
                        <li> Agile, Scrum, MSOffice, B2B, SaaS.</li>
                        <li> Web full stack, MERN, MVC, REST.</li>
                        <li> HTML, CSS, JavaScript, OOP, MySQL, NoSQL, Bootstrap, Handlebars, React, JEST, Node.JS,
                            API’s, GIT, Bash, C++, Python.</li>
                        <li> Figma, Zoom, Slack.</li>
                        <li> MongoDB, AWS, Insomnia, Apollo GraphQL, Inventor, 3D Blender.</li>
                        <li> PC hardware, Arduino IDE, microcontrollers, 3D printing, CNC, laser cutting, welding,
                            electronics.</li>

                    </p>
                </div>



        </section>















    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>